* {
  background: none;
  margin: 0;
  padding: 0;

  font-family: lato, sans-serif;
  letter-spacing: 110%;
}

:root {
  /* light theme */
  --background-nav: rgb(232, 232, 232);
  --header-gradient: linear-gradient(
    0deg,
    rgb(150, 200, 250),
    rgb(232, 232, 232)
  );
  --main-blue: rgb(150, 200, 250);
  --darker-blue: #0c2d48;
  --main-color-1: rgb(232, 232, 232);
  --main-color-2: rgb(222, 222, 222);

  /* other values */
  --work-image-width-small: 370px;
  --work-image-height-small: 180px;
  --work-image-width-large: 750px;
  --work-image-height-large: 360px;
}

body {
  background: var(--main-color-1);
}

/* header + nav style */
nav {
  position: sticky;
  top: 0;
  z-index: 1;

  height: 5vh;
  background: var(--background-nav);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav #navbar-right a {
  color: rgb(35, 35, 35);
  text-decoration: none;
  font-weight: bold;
  margin: 30px;
  border-radius: 5px;
}

nav #navbar-right a:hover {
  color: gray;
  text-decoration: underline;
}

#navlink-last {
  padding-right: 30px;
}

header {
  position: sticky;
  top: 45px;
  z-index: -1;

  background: var(--header-gradient);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

header #name-area {
  position: relative;
  left: 50px;
  min-width: 375px;

  display: flex;
  flex-direction: column;
  align-self: center;

  background: var(--darker-blue);
  color: var(--main-color-1);
  padding: 75px;
  border-radius: 5px;
}

header div h1 {
  background: none;
  font-size: 350%;
  margin-bottom: 10%;
  line-height: 45px;
}

header div img {
  display: block;
  background: none;
  border-radius: 10px 10px 0px 0px;
  margin-top: 5%;

  width: 90vh;
  height: auto;
}

/* main style */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  z-index: 2;
}

main #about,
#contact {
  background: var(--main-color-1);
}

main #work {
  background: var(--main-color-2);
}

main section {
  margin: 45px;
  padding: 10px 50px;

  display: flex;
  align-items: flex-start;
}

main section .main-section-title {
  flex: 18 1 18%;
  min-width: 110px;

  font-size: 150%;
}

main section .main-section-content {
  flex: 82 1 82%;
  margin: 0;
  padding: 0;
  font-size: 125%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about-me-writeup {
  display: flex;
  flex-direction: column;
}

.main-section-content section {
  background: lightblue;
  margin: 5px 5px;
  padding: 0;
  border: 1px solid var(--main-color-2);
  border-radius: 10px;

  flex-basis: var(--work-image-width-small);
  min-width: var(--work-image-width-small);
  height: var(--work-image-height-small);

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-section-content section a {
  color: black;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-section-content section img {
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  width: 100%;
  height: auto;
  max-width: var(--work-image-width-small);
  max-height: var(--work-image-height-small);
}

.main-section-content section h4 {
  position: absolute;
  background: var(--main-color-2);
  border-radius: 5px;
  padding: 10px;
  /* margin: 30px; */
  margin: 2%;
}

.main-section-content #work-item-large {
  margin: 5px 5px;
  padding: 0;

  flex-basis: var(--work-image-width-large);
  min-width: var(--work-image-width-small);
  height: var(--work-image-height-large);
}

.main-section-content #work-item-large img {
  height: var(--work-image-height-large);
  max-width: var(--work-image-width-large);
  max-height: var(--work-image-height-large);
}

.main-section-content section:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.main-section-content section:hover h4 {
  background: var(--main-blue);
}

#contact-form-container {
  display: flex;
  flex-direction: column;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-form-container a {
  text-decoration: none;
  color: #145da0;
}

#contact-form-container a:hover {
  text-decoration: underline;
}

input,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 75%;
  width: 45%;
  resize: vertical;
  min-height: 1.4em;

  margin: 4px 0px;
  padding: 4px 8px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 90%;
  background: var(--main-blue);
  width: auto;
  border: 1px solid var(--main-color-2);
}

input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid gray;
}

/* screen size changes */
@media screen and (max-width: 1126px) {
  /* nav changes */
  nav {
    justify-content: center;
  }

  #navlink-last {
    padding-right: 0;
  }

  /* header changes */
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  header #name-area {
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 90px;

    opacity: 0.9;
  }

  header div img {
    border-radius: 0;

    width: 100vw;
    object-fit: contain;
    margin-top: 0;
  }

  /* main section changes */
  main section {
    flex-direction: column;
  }

  .main-section-title h3 {
    padding-bottom: 30px;
  }

  #work .main-section-content {
    justify-content: flex-start;
  }

  #work .main-section-content section {
    justify-content: flex-end;
    align-items: flex-start;
  }

  #work .main-section-content #work-item-large {
    margin: 5px 5px;
    padding: 0;

    /* if in small screen mode, set to small */
    flex-basis: var(--work-image-width-small);
    height: var(--work-image-height-small);
    min-width: var(--work-image-width-small);
  }

  #work .main-section-content #work-item-large img {
    /* if in small screen mode, set to small */
    max-width: var(--work-image-width-small);
    max-height: var(--work-image-height-small);
  }

  input,
  textarea {
    width: 75%;
  }
}
