* {
  background: none;
  margin: 0;
  padding: 0;

  font-family: lato, sans-serif;
  letter-spacing: 110%;
}

:root {
  /* light theme */
  --background-nav: rgb(232, 232, 232);
  --header-gradient: linear-gradient(
    0deg,
    rgb(150, 200, 250),
    rgb(232, 232, 232)
  );
  --main-color-1: rgb(232, 232, 232);
  --main-color-2: rgb(222, 222, 222);

  /* dark theme */

  --footer-color: #23272a;
}

/* navbar style */
nav {
  height: 5vh;
  background: var(--background-nav);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #navbar-left {
  color: rgb(35, 35, 35);
  font-weight: bold;

  margin: 30px;
}

nav #navbar-right a {
  color: rgb(35, 35, 35);
  text-decoration: none;
  font-weight: bold;

  margin: 30px;
}

nav #navbar-right a:hover {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}

/* header style */
header {
  height: 40vh;
  background: var(--header-gradient);

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

#name-area {
  display: flex;
  flex-direction: column;
  align-self: center;
}

header div h1 {
  background: none;
  font-size: 350%;
  margin-right: 20%;
  margin-bottom: 10%;
  line-height: 45px;
}

header div img {
  background: none;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -3px;

  flex-basis: 50%;
}

/* main style */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main #about,
#contact {
  background: var(--main-color-1);
}

main #work {
  background: var(--main-color-2);
}

main section {
  margin: 30px;
  padding: 10px 50px;

  display: flex;
  align-items: flex-start;
}

main section .main-section-title {
  flex: 18 1 18%;
  min-width: 110px;

  font-size: 150%;
}

main section .main-section-content {
  flex: 82 1 82%;
  margin: 0;
  padding: 0;
  font-size: 125%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main section #about-me-writeup {
  display: flex;
  flex-direction: column;
}

main section .main-section-content section {
  background: lightblue;
  margin: 5px 5px;
  padding: 0;
  border-radius: 10px;

  flex-basis: 370px;
  height: 180px;
  min-width: 370px;
}

main section .main-section-content #work-item-large {
  margin: 5px 5px;
  padding: 0;

  flex-basis: 750px;
  height: 360px;
  min-width: 370px;
}

main section #contact-form-container {
  display: flex;
  flex-direction: column;
}

main section #contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-form-container a {
  text-decoration: none;
  color: rgb(150, 200, 250);
}

input,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 75%;
  width: 45%;
  resize: vertical;
  min-height: 1.4em;

  margin: 4px 0px;
  padding: 4px 8px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 90%;
  background: rgb(150, 200, 250);
  width: auto;
}

input[type="submit"]:hover {
  cursor: pointer;
}
