/* ******************* */
/* ENTIRE PAGE STYLING */
/* ******************* */
* {
  background: none;
  margin: 0;
  padding: 0;

  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  font-family: lato, sans-serif;
  letter-spacing: 110%;
}

:root {
  /* theme */
  --header-gradient: linear-gradient(0deg, #96c8fa, #e8e8e8);
  --main-blue: #96c8fa;
  --darker-blue: #0c2d48;
  --main-color-1: #e8e8e8;
  --main-color-2: #dedede;
  --main-color-3: #f8f8f8;

  --text-color-1: #252525;
  --text-color-2: #282828;

  /* other values */
  --work-image-width-small: 370px;
  --work-image-height-small: 180px;
  --work-image-width-large: 750px;
  --work-image-height-large: 360px;
}

body {
  background: var(--main-color-1);
}

.custom-link {
  border-radius: 5px;
}

.custom-link:hover {
  background: #96c8fa;
  color: #282828;
}

/* ****************** */
/* header + nav style */
/* ****************** */
.custom-modal {
  background: var(--main-color-3);
}

.custom-nav {
  background-color: var(--main-color-1);
}

.custom-navbar-items {
  display: flex;
  justify-content: center;
}

.custom-navlink-text {
  color: var(--text-color-2);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-align: center;
}

.custom-header {
  background: var(--header-gradient);
  color: var(--text-color-1);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.custom-small-header {
  position: relative;
  top: 0;
  right: 0;
}

#name-small-screen {
  position: absolute;
  bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-header-img {
  background: none;
  width: 80%;
  height: auto;
}

/* ********** */
/* main style */
/* ********** */
.card-link-text {
  text-decoration: none;
  color: inherit;
}

.card-link-text:hover {
  /* Maybe change this to make hovering visibly a path out? */
  color: inherit;
}

.custom-main {
  color: var(--text-color-1);
}

.custom-work {
  background: var(--main-color-2);
}

.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.custom-card {
  background: var(--main-color-3);
  border: 1px solid var(--main-color-1);
  margin-bottom: 1rem;
}

.card-image-container {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.card-image {
  border-radius: 0.3rem;
  object-fit: cover;
  max-width: 10em;
  max-height: 5em;

  margin: 0 !important;
}

.custom-card-body {
  display: flex;
  justify-content: space-between;
}

.card-content {
  margin-left: 2em;
  margin-right: 1em;
}

.link-arrow {
  display: flex;
  align-items: center;
  justify-content: end;
}

.role-dropdown {
  color: inherit;
}

.role-dropdown:hover {
  color: inherit;
}

.fa-arrow-down {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.fa-arrow-down.open {
  transform: rotate(90deg);
  transition: transform 0.25s linear;
}

.custom-card-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer style */
.custom-footer {
  display: flex;
  align-content: center;
  justify-content: center;

  color: #e8e8e8;
  background: #282828;
}

.custom-footer-links-wrapper {
  text-align: center;
}

.custom-footer-links-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #e8e8e8;
}

.custom-link-width {
  width: 100px;
  text-align: left;
}

.custom-footer-text {
  border-top: 2px solid var(--main-blue);
  text-align: center;
}

.custom-footer-text a {
  text-decoration: none;
}

.custom-input {
  background: var(--main-color-3);
  border: 1px solid var(--main-color-3);
  color: var(--text-color-1);
}

.custom-input:focus {
  background: var(--main-color-3);
  border: 1px solid var(--main-color-3);
  color: var(--text-color-1);
}

/* RESPONSIVENESS */
@media screen and (max-width: 991px) {
  .show-screen-small {
    display: flex;
  }
  .hide-screen-small {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .show-screen-small {
    display: none;
  }
  .hide-screen-small {
    display: flex;
  }
  .custom-header-img {
    width: 100%;
  }
}

@media screen and (max-width: 762px) {
  .custom-card-body {
    flex-direction: column;
  }
  .card-image-container {
    justify-content: center;
  }
  .card-image {
    max-width: 20em;
    max-height: 10em;
  }
  .card-content {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .link-arrow {
    display: none;
  }
}
